@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    /* --primary-color: #1a6aeb; */
    --primary-color: #1B2631;
    --second-color: #fff;
    /* --menu-color: #333; */
    --menu-color: #1a6aeb;
    --selector-color: #ddd;
    --link-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header {
    width: 100%;
    height: auto;
}
/* NAVBRAND DEL STIO WEB */
.navbrand {
    display: flex;
    flex-direction: start;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    /* height: 15vh; */
    align-items: center;
    background-color: var(--second-color);
}

.navbrand .title-header {
    display: flex;
    flex-direction: column;
}

.navbrand h1 {
    font-weight: 700;
    color: var(--primary-color);
}

.navbrand img {
    width: 15%;
    padding: 20px;
}

/* NAVBAR DEL SITIO WEB */

.container-menu {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: var(--primary-color);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.6);
}

.menu {
    overflow: hidden;
    background-color: var(--primary-color);
    transition: all 1s;
}

.menu a {
    float: left;
    display: block;
    color: var(--selector-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
}

.menu a:hover {
    background-color: var(--selector-color);
    color: var(--link-color);
}

.menu a.active {
    background-color: var(--menu-color);
    color: var(--second-color);
}

.menu #btn-menu {
    display: none;
}


/* CONTENIDO DE LA PAGINA */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--second-color);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: var(--second-color);
    border-radius: 5px;
}



/* pie de pagina */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.container-footer .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
}
.container-footer .location p {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--second-color);
}

.container-footer .location img{
    margin-top: 10px;
    width: 40%;
}

.container-footer .contac-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-footer .contac-info ul {
    list-style: none;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    color: var(--second-color);
}

.container-footer .emails {
    padding-top: 20px;
}

.container-footer .contac-info ul i {
    margin-right: 10px;
    padding-top: 20px;
}

.footer-final {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    background-color: royalblue;
    color: var(--second-color);
}

.footer-final a {
    font-size: 2rem;
    color: var(--second-color);
    transition: all 0.4s ease-in 0s;
}

.footer-final a:hover {
    font-size: 2rem;
    color: var(--primary-color);
}

@media screen and (max-width: 600px) {


    .navbrand {
        font-size: 0.8rem;
        justify-content: center;
    }

    .navbrand img {
        padding: 10px 0px 10px 0px;
        width: 20%;
    }

    .navbrand h1 {
        margin-left: 10px;
        font-size: 1.1rem;
    }
    

    /* contenido de pagina  HOME SECTION */
    .container {
        padding: 0;
    }

    .container-footer {
        flex-direction: column;
    }
    .container-footer .location {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .container-footer .location p {
        font-size: 1rem;
    }
    .container-footer .contac-info {
        width: 100%;
    }
    /* MENU DE LA PAGINA */

    .container-menu {
        display: block;
    }
    .menu a:not(:first-child) {display: none; transition: all 1s;}
    .menu #btn-menu{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {

    .menu.responsive {
        position: relative;
    }
    .menu.responsive #btn-menu {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
